@model bool
@using FelixWebsite.Core.App_GlobalResources
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title felix"><i class="fas fa-file-invoice-dollar felix-red"></i>@FelixResources.googlemapsContactForm_modal_title</h3>
        </div>
        @if ((bool)Model)
        {
            <div class="modal-body">
                <div class="row margin-top-40 text-center">
                    <h1 class="margin-bottom-30"><i class="fas fa-check-circle icon-success"></i></h1>
                    <h2 class="margin-bottom-30 text-success">@FelixResources.action_model_success</h2>
                </div>
            </div>
        }
        else
        {
            <div class="modal-body">
                <div class="row margin-top-40 text-center">
                    <h1 class="margin-bottom-30"><i class="fas fa-times-circle"></i></h1>
                    <h2 class="margin-bottom-30 text-success">@FelixResources.general_error_header</h2>
                    <h3 class="margin-bottom-30 text-success">@FelixResources.general_error_body</h3>
                </div>
            </div>
        }
        <div class="modal-footer">
            <div class="btn btn-cancel">
                <a data-dismiss="modal" aria-label="Close">@FelixResources.general_close</a>
            </div>
        </div>
    </div>
</div>