@inherits Umbraco.Web.Mvc.UmbracoViewPage<ISlider>
<section id="slider" class="margin-top-80">
    <div class="full-width-banner-container no-paddding">
        <div class="full-width-banner">
            <ul>
                @foreach (Slide slide in Model.Slides)
                {
                    <li data-transition="fade" data-slotamount="10">
                        <img src="@slide.SlideImage.Url" alt="@slide.SlideTitle" class="img-responsive blur">

                        <div class="caption title-2 slide-title sft" data-x="50" data-y="210" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
                            @slide.SlideTitle
                        </div>

                        <div class="caption slide-caption sfl" data-x="50" data-y="330" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
                            @slide.SlideDescription
                        </div>

                        <div class="button-container">
                            @if (slide.ButtonLinks != null)
                            {
                                int btnIndex = 0;
                                foreach (var btnLink in slide.ButtonLinks)
                                {
                                    if (!btnLink.Link.IsNullOrWhiteSpace())
                                    {
                                        <div class="caption sfb slider-btn tp-resizeme button3" data-x="1" data-y="1" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
                                            <a href="@btnLink.Link" class="btn btn-radius btn-lg btn-theme-border">@btnLink.Caption</a>
                                        </div>
                                    }
                                    btnIndex++;
                                }
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>